.tv {
    position: relative;
    width: 1067px;
    height: 645px;
    margin: 20px 88px;
    padding : 40px 30px;
    background: white;
    border-radius: 50% / 5%;
    color: black;
}

.tv:before {
    content: '';
    position: absolute;
    top: 31px;
    bottom: 31px;
    right: -5%;
    left: -5%;
    background: inherit;
    border-radius: 5% / 50%;
    z-index: -1;
}